.bouton {
  background: #ffffff;
  border-radius: 17.25px;
  padding: 8px 35px;

  @media (max-width: 515px) {
    margin-left: 60px;
  }
}

.l-brand .l-engagements,
a {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 13.8px;
  color: #282829;
  text-align: center;
  text-decoration: none;
}

.bouton-light {
  font-size: 20.38px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: right;
  border: 1.36px solid #ffffff;
  border-radius: 26.49px;
  padding: 8px 35px;

  @media (max-width: 515px) {
    font-family: "ofelia-display", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13.67px;
    text-align: right;
    border: 0.91px solid #ffffff;
    border-radius: 17.78px;
    padding: 5px 15px;
    margin-left: 200px;
  }
}
