p {
  color: white;
  font-family: "ofelia-display", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
  padding-bottom: 40px;
}

.l-brand p {
  padding-bottom: 50px;
}

h3 {
  font-family: "ofelia-display", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.l-engagements,
p h3 {
  text-align: right;
}

.marging {
  padding: 80px 0 80px 80px;
}

.l-engagements .marging {
  padding: 80px 80px 80px 0;
}

.l-engagements .row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.l-brand {
  margin-bottom: 100px;

  @media (max-width: 387px) {
    margin-bottom: 20px;

    .marging {
      padding: 200px 0 0 0;
    }

    h3 {
      padding-bottom: 10px;
    }

    p {
      font-family: "ofelia-display", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 30px;
    }

    .bouton {
      margin-left: 95px;
      margin-bottom: 10px;
    }
  }
}

.l-engagements {
  margin-bottom: 100px;

  @media (max-width: 387px) {
    margin-bottom: 20px;

    .marging {
      padding: 200px 0 0 0;
    }

    .l-brand {
      margin-bottom: 20px;
    }

    h3 {
      padding-bottom: 10px;
      text-align: left;
    }

    p {
      font-family: "ofelia-display", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 30px;
      text-align: left;
    }

    .bouton {
      margin-bottom: 10px;
      margin-right: 95px;
    }

    .small-engagements {
      text-align: center;
    }
  }
}

.small-engagements {
  margin-bottom: 45px;
}

.small-logo {
  padding: 0 0 0 30px;
}
