.l-footer {
  margin-top: 80px;
  color: #282829;
}

.l-footer h1 {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 61px;
  margin: 0;

  @media (max-width: 515px) {
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
  }
}

.l-footer h2 {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  padding-bottom: 20px;

  @media (max-width: 515px) {
    font-family: "ofelia-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    padding-bottom: 5px;
  }
}

.l-footer a {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  @media (max-width: 515px) {
    font-family: "ofelia-display", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
  }
}

.link {
  margin-bottom: 60px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 50px;
}
