.l-other-brands p {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: #282829;
  margin-top: 50px;
  line-height: 50px;
  margin-bottom: 50px;

  @media (max-width: 515px) {
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 0;
    line-height: 1.2;
    width: 210px;
  }
}

.l-other-brands h2 {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 210px;

  @media (max-width: 515px) {
    font-family: "ofelia-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
  }
}

.l-brand {
  min-height: 300px;

  @media (max-width: 515px) {
    min-height: 200px;
  }
}

.l-brand-one h2 {
  margin-left: 80px;
  @media (max-width: 515px) {
    padding-top: 65px;
    margin-left: 0;
  }
}

.l-brand-two h2 {
  @media (max-width: 515px) {
    padding-top: 65px;
  }
}
