.l-other-brands p {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: #282829;
  margin-top: 50px;
  line-height: 50px;
  margin-bottom: 50px;
}

.l-other-brands h2 {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 210px;
}

.l-brand {
  min-height: 300px;
}

.l-brand-one h2 {
  margin-left: 80px;
}
