.product h2 {
  text-transform: uppercase;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  margin-bottom: 100px;

  @media (max-width: 515px) {
    font-size: 26px;
    margin-bottom: 40px;
  }
}

.products-content h2 {
  color: white;
}

.big-bg {
  background-image: linear-gradient(
    0deg,
    #a4be8e 0%,
    rgba(166, 194, 147, 0) 100%,
    #a4be8e 100%
  );
  height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (max-width: 515px) {
    display: none;
  }
}

.small-bg {
  width: 100%px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (max-width: 515px) {
    .big-size {
      display: none;
    }
    height: 110px;
  }
}

.big-bg img {
  width: 400px;
}

.cola {
  background-image: linear-gradient(
    0deg,
    #e51200 0%,
    rgba(217, 17, 0, 0.5) 76%
  );
}

.ginger {
  background-image: linear-gradient(
    0deg,
    #ff9215 0%,
    rgba(255, 148, 21, 0.56) 73%,
    rgba(255, 150, 24, 0.5) 100%,
    rgba(0, 0, 0, 0.3) 100%
  );
}

.limonade {
  background-image: linear-gradient(
    0deg,
    #ffd415 0%,
    rgba(255, 212, 21, 0.5) 100%,
    rgba(0, 0, 0, 0.3) 100%
  );
}

.tea {
  background-image: linear-gradient(
    0deg,
    #a4be8e 0%,
    rgba(164, 190, 142, 0.5) 76%
  );

  @media (min-width: 515px) {
    display: none;
  }
}

.small-bg,
.big-bg {
  position: relative;
}

.small-bg img {
  position: absolute;
  bottom: 0;
  left: 40px;
}

.small-bg h2 {
  font-size: 40px;
  margin: 0;
  position: relative;
  left: 165px;
  bottom: 25px;

  @media (max-width: 515px) {
    font-family: "ofelia-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    line-height: 25px;
    left: 115px;
    bottom: 13px;
  }
}

.big-bg img {
  position: absolute;
  bottom: -75px;
  left: 10px;
}

.big-bg h2 {
  margin: 0;
  font-size: 50px;
  position: relative;
  left: 330px;
}

.big-bg p {
  position: relative;
  left: 330px;
}
