/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules

font-family: "roboto", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "roboto", sans-serif;
font-weight: 400;
font-style: italic;

font-family: "roboto", sans-serif;
font-weight: 700;
font-style: normal;

font-family: "roboto", sans-serif;
font-weight: 700;
font-style: italic;

font-family: "ofelia-display", sans-serif;
font-weight: 300;
font-style: normal;

font-family: "ofelia-display", sans-serif;
font-weight: 300;
font-style: italic;

font-family: "ofelia-display", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "ofelia-display", sans-serif;
font-weight: 400;
font-style: italic;

font-family: "ofelia-display", sans-serif;
font-weight: 500;
font-style: normal;

font-family: "ofelia-display", sans-serif;
font-weight: 500;
font-style: italic;

font-family: "ofelia-display", sans-serif;
font-weight: 700;
font-style: normal;

font-family: "ofelia-display", sans-serif;
font-weight: 700;
font-style: italic;

font-family: "ofelia-display", sans-serif;
font-weight: 800;
font-style: normal;

font-family: "ofelia-display", sans-serif;
font-weight: 800;
font-style: italic;
// ==================================== */
// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

body {
  background-color: #f5ddc8;
  color: #2f2e2e;
}
