.l-main-header {
  background: url(../img/header-band.webp);
  background-size: 100%;
  min-height: 700px;
  background-repeat: no-repeat;
}

.l-nav {
  background: url(../img/header-nav.webp);
  background-size: 100%;
  background-repeat: no-repeat;
}

.l-main-nav {
  min-height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.l-brand {
  background: url(../img/main-brand.webp);
  min-height: 537px;
  background-size: calc(1320px + (100vw - 1320px) / 2);
  background-repeat: no-repeat;
  background-position: center right;

  @media (max-width: 1400px) {
    background-size: calc(1140px + (100vw - 1140px) / 2);
  }

  @media (max-width: 1200px) {
    background-size: calc(960px + (100vw - 960px) / 2);
  }
}

.l-engagements {
  background: url(../img/main-engagements.webp);
  background-size: calc(1320px + (100vw - 1320px) / 2);
  min-height: 537px;
  background-repeat: no-repeat;

  @media (max-width: 1400px) {
    background-size: calc(1140px + (100vw - 1140px) / 2);
  }

  @media (max-width: 1200px) {
    background-size: calc(960px + (100vw - 960px) / 2);
  }
}

.l-recipe {
  background: url(../img/main-recettes.webp);
  background-size: 100%;
  min-height: 1000px;
  background-repeat: no-repeat;
}

.l-small-product {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.l-button-right {
  margin-top: 90px;
  margin-left: 30px;
  margin: 90px 0 130px 30px;
}

.l-button-left {
  margin-top: 90px;
  margin-left: 30px;
  margin: 70px 0 100px 120px;
}

.l-brand-one {
  background: url(../img/main-tensai_tea.webp);
  margin-top: 20px;
  background-size: calc(1320px + (80vw - 1320px) / 2);
  background-repeat: no-repeat;

  @media (max-width: 1400px) {
    background-size: calc(1140px + (80vw - 1140px) / 2);
  }

  @media (max-width: 1200px) {
    background-size: calc(960px + (80vw - 960px) / 2);
  }
}

.l-brand-two {
  background: url(../img/main-chilled.webp);
  margin-top: 20px;
  background-size: calc(1320px + (80vw - 1320px) / 2);
  background-repeat: no-repeat;
  background-position: center right;

  @media (max-width: 1400px) {
    background-size: calc(1140px + (80vw - 1140px) / 2);
  }

  @media (max-width: 1200px) {
    background-size: calc(960px + (80vw - 960px) / 2);
  }
}

.l-brand-three {
  background: url(../img/main-dame_gingembre.webp);
  margin-top: 20px;
  background-size: calc(1320px + (80vw - 1320px) / 2);
  background-repeat: no-repeat;

  @media (max-width: 1400px) {
    background-size: calc(1140px + (80vw - 1140px) / 2);
  }

  @media (max-width: 1200px) {
    background-size: calc(960px + (80vw - 960px) / 2);
  }
}

.l-footer {
}
